[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"

[packages]
pyserial = "*"
SIP = "*"
raspberry-gpio-emulator = {editable = true,git = "https://github.com/nosix/raspberry-gpio-emulator"}
pydux = "*"
uvloop = "*"
gmqtt = "*"
"RPi.GPIO" = {version = "*", sys_platform/os_name/platform_machine = "!= 'windows'"}
GPIO = {version = "*", sys_platform = "== 'win32'"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
start = "python main.py"
