@import "~antd/dist/antd.css";

#root {
  height: 100%;
}

.ant-layout {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;

  .ant-layout-header {
    display: flex;
    background: #002f5d;

    .logo {
      width: 120px;
      height: 31px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px 28px 16px 0;
      float: left;
    }

    .ant-menu-dark {
      background: #002f5d;
      line-height: 64px;
      width: 100%;
    }

    .ant-menu-item {
      float: left;
    }

    .indicator-menu-item {
      padding: 0 5px;
      cursor: default;

      .indicator {
        font-weight: bold;

        span {
          margin: 0;
        }
      }

      .indicator-success {
        color: rgb(1, 190, 1);
      }

      .indicator-error {
        color: rgb(250, 57, 57);
      }
    }

    .account-submenu {
      float: right;
    }
  }

  .sider-overview {
    margin-top: 10px;
    background-color: transparent;
    border-right: solid 1px lightgrey;

    .ant-layout-sider-children {
      overflow: auto;
    }

    .device-command-button {
      height: 180px;
      width: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 3px 10px 10px 10px;

      span {
        margin-top: 7px;
        font-weight: bold;
        max-width: 150px;
        white-space: normal;
      }

      img {
        width: 120px;
        height: 120px;
      }
    }

    .device-command-button.device-deactivated img {
      opacity: 0.5;
    }
  }

  .content-overview {
    .testrun_chart {
      margin: 20px;
      border: solid 1px lightgray;
    }

    .sequence-buttons-bar {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 0px 10px;
      border-bottom: solid 1px lightgray;

      .current-sequence-info {
        margin: 7px;
        background: white;
        height: 32px;
        text-align: center;
        border: solid 1px #d9d9d9;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
        padding: 4px 15px;
      }

      button {
        margin: 7px 5px;

        span {
          margin: 0px 3px;
        }
      }
    }
  }
}
